-# %h2 Sign up
-# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#   = render "devise/shared/error_messages", resource: resource
-#   .field
-#     = f.label :nick_name
-#     %br/
-#     = f.text_field :nick_name, autofocus: true, require: true, autocomplete: "nick_name"
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     - if @minimum_password_length
-#       %em
-#         (#{@minimum_password_length} characters minimum)
-#     %br/
-#     = f.password_field :password, autocomplete: "new-password"
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#     = f.password_field :password_confirmation, autocomplete: "new-password"
-#   .actions
-#     = f.submit "Sign up"
-# = render "devise/shared/links"
-# 参考に残しておく、最終的には調整する。


= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|

  .num-bread-header
    = link_to "https://www.mercari.com/jp/", class: "num-bread-header__link" do
      = image_tag "/assets/fakelogo.svg", class: "num-bread-header__link--logo", alt: "mercari", size:"134x36"
    .num-bread-header-right
      %ol.clearfix
        %li
          会員情報
          .progress-status__mem
        %li.active
          電話番号認証
          .progress-status__active
        %li
          完了
          .progress-status__done

  .p-number
    .p-number-container
      .p-number-header
        電話番号の確認
      .p-number-forms
        .p-number-content
          .p-number-form
            携帯電話の番号
          %input.number{:name => "number", :placeholder => "携帯電話の番号を入力", :type => "text", :value => ""}/
          %p.number
            本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          .p-number-btn
            .p-number-btn__sns
              = link_to "SNSを送信する", '/signup/registration/:id/'
            %p.number
              ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .p-number-confirmation
            = link_to "電話番号の確認が必要な理由>"

  = render './shared/simple-footer'