= render "./shared/sub-header"
= render './shared/flash'
.mypage-wrapper.clearfix
  = render './shared/sideBar'
  .l-identification-content
    %section.l-identification-block
      %h2.l-identification-head
        本人情報の登録
      = form_with model: @personal, url: mypage_identification_path, class: 'l-identification-form', local: true do |f|
        %div
          %p
            お客さまの本人情報をご登録ください。
            %br
            登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          %p.u-text-right
            =link_to root_path , target: :_blank , class: 'l-identifaication-link u-deco-none' do
              本人確認書類のアップロードについて
              = fa_icon 'chevron-right',class: 'l-identifaication-icon'

        .l-form-group
          = f.label 'お名前'
          %p
            = @personal.first_name + ' ' + @personal.last_name

        .l-form-group
          = f.label 'お名前カナ'
          %p
            = @personal.first_name_kana + ' ' + @personal.last_name_kana

        .l-form-group
          = f.label 'birthday','生年月日'
          %p
            = "#{@personal.birth_year}"'/'"#{@personal.birth_month}"'/'"#{@personal.birth_day}"

        .l-form-group
          = f.label 'zipcode','郵便番号'
          %span.l-form-arbitrary 任意
          = f.text_field(:post_number, placeholder: '例）1234567', class: 'l-input-default')

        .l-form-group
          = f.label 'prefecture', '都道府県'
          %span.l-form-arbitrary 任意
          .l-form-select
            = fa_icon'chevron-down', class: 'l-select-icon'
            = f.collection_select :prefecture_address_id, PrefectureAddress.all, :id, :name, {}, class: 'l-select-default'
        .l-form-group
          = f.label 'city', '市区町村'
          %span.l-form-arbitrary 任意
          = f.text_field :municipality_address, placeholder: '例) 横浜市緑区', class: 'l-input-default'
        .l-form-group
          = f.label 'street_address', '番地'
          %span.l-form-arbitrary 任意
          = f.text_field :street_address, placeholder: '例) 青山1−1−1', class: 'l-input-default'

        .l-form-group
          = f.label 'building_name_address', '建物名'
          %span.l-form-arbitrary 任意
          = f.text_field :building_name_adress, placeholder: '例) 柳ビル103', class: 'l-input-default'

        = f.submit '登録する',class:'l-btn-default u-btn-red'
        .l-form-group
          %p.u-text-right
            =link_to root_path , target: :_blank , class: 'l-identifaication-link u-deco-none' do
              本人情報の登録について
              = fa_icon 'chevron-right',class: 'l-identifaication-icon'
= render './shared/sub-footer'