= render './shared/simple-header'

.p-reg
  .p-reg__container
    .p-reg__container--head
      新規会員登録
    .p-reg__container--inner
      .p-reg-contents
        .p-reg-btn
          .p-reg-btn__mail
            -# = far.fa-envelope
            = link_to "メールアドレスで登録する", "#", class: "p-reg-btn__link"
          .p-reg-btn__facebook
            = fa_icon 'facebook-square'
            = link_to "Facebookで登録する", "#", class: "p-reg-btn__link"
          .p-reg-btn__google
            = fa_icon 'google'
            = link_to "Googleで登録する", "#", class: "p-reg-btn__link--color"

= render './shared/simple-footer'