%header.header-wrapper.u-visible-pc
  .header-inner
    .menu-upper
      //メルカリロゴ
      .menu-upper__logo
        =link_to image_tag(asset_path("fakelogo.svg"),alt:'fake_merc', size:"134x36"), root_path
      //検索機能(検索窓、検索ボタン、プレイスホルダーつける、)
      = form_with url: root_path , local: true, class: 'menu-upper__search__form' do |f|
        = f.text_field :search , class: 'menu-upper__search__form__text-box input-default', placeholder: '何かお探しですか？'
        = fa_icon 'search',class: 'u-search_bar_icon'
    .menu-lower.clearfix
      -# //以下カテゴリーjQuery実装予定
      %nav.menu-lower__search
        %ul.menu-lower__search--nav
          %li
            %h2
              = link_to root_path, class: 'l-list-block l-list-parent' do
                = fa_icon 'list',class: 'l-list-icon'
                %span カテゴリーから探す
            -# %li
            -#   =link_to 'レディース'
            -# %li
            -#   =link_to 'メンズ'
            -# %li
            -#   =link_to 'ベビー・キッズ'
            -# %li
            -#   =link_to 'インテリア・住まい・小物'
            -# %li
            -#   =link_to '本・音楽・ゲーム'
            -# %li
            -#   =link_to 'おもちゃ・ホビー・グッズ'
            -# %li
            -#   =link_to 'コスメ・香水・美容'
            -# %li
            -#   =link_to '家電・スマホ・カメラ'
            -# %li
            -#   =link_to 'スポーツ・レジャー'
            -# %li
            -#   =link_to 'ハンドメイド'
            -# %li
            -#   =link_to 'チケット'
            -# %li
            -#   =link_to '自転車・オートバイ'
            -# %li
            -#   =link_to 'その他'
            -# %li
            -#   =link_to 'カテゴリー一覧'
          //以下カテゴリーjQuery実装予定
          %li
            %h2
              = link_to root_path, class: 'l-list-block l-list-parent' do
                = fa_icon 'tag',class: 'l-list-icon'
                %span ブランドから探す
            -# %li
            -#   =link_to 'シャネル'
            -# %li
            -#   =link_to 'ナイキ'
            -# %li
            -#   =link_to 'ルイヴィトン'
            -# %li
            -#   =link_to 'シュプリーム'
            -# %li
            -#   =link_to 'アディダス'
            -# %li
            -#   =link_to 'カテゴリー一覧'
        //いいね！一覧、お知らせ、やることリスト、マイページ
        //命名が分からなかったのでcontensで仮置き
      .menu-lower__afterLogin
        -if user_signed_in?
          %ul
            %li.afterLogin__like-list
              = link_to root_path , class: 'l-list-nav u-over-icon' do
                = fa_icon 'heart-o',class: 'l-user-icon'
                %span.u-over-span いいね！一覧
            %li
              = link_to root_path , class: 'l-list-nav u-over-icon' do
                = fa_icon 'bell-o',class: 'l-user-icon'
                %span.u-over-span おしらせ
            %li
              = link_to root_path , class: 'l-list-nav u-over-icon' do
                = fa_icon 'check',class: 'l-user-icon'
                %span.u-over-span やることリスト
            %li
              = link_to mypage_path, class: 'l-list-nav u-over-icon' do
                %figure
                  %div
                    = image_tag(asset_path('no-image-boy.png'), width: "32",class: 'u-over-icon')
                %span.u-over-span マイページ
        -else
          .menu-lower__register
            .menu-lower__register--new
              =link_to  "新規会員登録", signup_path
            .menu-lower__register--login
              =link_to "ログイン", user_session_path
            .menu-lower__register--guestLogin
              = link_to 'ゲストログイン', guest_login_index_path, method: :post