-# %h2 Log in
-# = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     %br/
-#     = f.password_field :password, autocomplete: "current-password"
-#   - if devise_mapping.rememberable?
-#     .field
-#       = f.check_box :remember_me
-#       = f.label :remember_me
-#   .actions
-#     = f.submit "Log in"
-# = render "devise/shared/links"
-# ↑↑↑本来は不要ですが、コメント化したものは念のため残しております。最終的には調整する。


= render './shared/simple-header'

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

  .p-login-main
    .p-login-user
      .p-login-user__account
        %p アカウントをお持ちでない方はこちら
        = link_to signup_registration_path, class: "p-login-user__account--link" do
          新規会員登録
      .p-login-user__inner
        .p-login-user__inner--btn
          %button.facebook-login
            = fa_icon 'facebook-square'
            = link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post
          %button.google-login
            = fa_icon 'google'
            = link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post
      .p-login-form
        .p-login-form__group
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "email"
        .p-login-form__group
          = f.password_field :password, autocomplete: "current-password", class: "password"
        - if devise_mapping.rememberable?
        .p-login-form__g-recaptcha
          %iframe{frameborder: "0", height: "78", name: "a-eay3grodipxw", role: "presentation", sandbox: "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox", scrolling: "no", src: "https://www.google.com/recaptcha/api2/anchor?ar=2&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=TYDIjJAqCk6g335bFk3AjlC3&size=normal&cb=5i4n4os9copa", width: "304"}
        .p-login-form__submit
          .actions
            = f.submit "ログイン", class: "submit"
          = link_to "https://www.mercari.com/jp/password/reset/start/", class: "p-login-form__submit--help" do
            %p.p-login-form__submit--help パスワードをお忘れの方

= render './shared/simple-footer'