.wrapper
  = render "./shared/visible-header"
  = render "./shared/header"
  = render "./shared/item_zone"
  = render "./shared/top-publicity"
  = render "./shared/footer"
  = render "./shared/exhibitionbtn"
