.wrapper
  = render './shared/visible-header'
  = render './shared/header'
  = render './shared/visible-category'
  = render './shared/flash'
  = render './shared/item_zone'
  = render './shared/visible-publicity'
  = render './shared/publicity'
  = render './shared/footer'
  = render './shared/exhibitionbtn'
