= render './shared/sub-header'
.detail-wrapper
  .detail-contents
    .itemzone
      .itemzone__name
        = Item.find(@item.id).name
      %clearfix.itemzone__main
        .main--photo
          = image_tag @item.images.first.image_url.to_s unless @item.images.blank?
        %table.itemzone__main--table
          %tr
            %th
              出品者
            %td
              .username
                = @user.nick_name
              .evaluateicon
                .goodicon
                  = fa_icon 'smile-o'
                .number
                  356
                .sosoicon
                  = fa_icon 'meh-o'
                .number
                  0
                .badicon
                  = fa_icon 'frown-o'
                .number
                  0
          %tr
            %th
              カテゴリー
            %td
              = Category.find(@item.category_id).name
          %tr
            %th
              ブランド
            %td
              = Brand.find(@item.brand_id).brand_name
          %tr
            %th
              商品状態
            %td
              = ItemCondition.find(@item.item_condition_id).name
          %tr
            %th
              送料の負担
            %td
              = ShippingFee.find(@item.shipping_fee_id).name
          %tr
            %th
              配送方法
            %td
              = ShippingMethod.find(@item.shipping_method_id).name
          %tr
            %th
              配送元地域
            %td
              = PrefectureAddress.find(@item.prefecture_address_id).name
          %tr
            %th
              発送日の目安
            %td
              = ShipDate.find(@item.ship_date_id).name
      .itempricezone
        .itempricezone__price
          = "¥#{@item.money}"
        .itempricezone__tax
          (税込)
        .itempricezone__fee
          送料込み
      .buybtn
        =link_to "購入画面に進む",sell_item_show_path(1)
      .iteminfo
        .iteminfo__inner
          = @item.description
      %ul.otherbtn
        .otherbtn__left
          %il.goodbtn
            = fa_icon 'heart-o'
            =link_to "いいね7"
          %il.reportbtn
            = fa_icon 'flag-o'
            =link_to "不適切な商品の報告"
        .otherbtn__right
          .ligthbtn
            = fa_icon 'unlock-alt'
            =link_to "あんしん・あんぜんへの取り組み"

    .messagezone
      .messagezone__messages
        .usericon
        .usermessagezone
          .usermessagezone__upper
            コメント失礼します２６００円購入希望ですが可能でしょうか
          .usermessagezone__under
            .under__left
              = fa_icon 'clock-o '
              140日前
            .under__light
              = fa_icon 'flag-o'
    %ul.itemlink
      %li.itemlink__left
        =link_to "＜ チョロQ"
      %li.itemlink__right
        =link_to "ジーンズ >"
    .snszone
      %ul.snszone__logo
        %li.icon
          =link_to 'https://www.facebook.com/mercarijp',target: :_blank do
            =fa_icon 'facebook-square'
        %li.icon
          =link_to 'https://twitter.com/mercari_jp',target: :_blank do
            =fa_icon 'twitter'

    .useritems
      %h2.useritem__head
      =link_to "りゅうさんのその他の作品"
      .useritems__content
        %section.item1
          %a
            =image_tag("https://1.bp.blogspot.com/-8-Wxkp3eMh8/Xdttj6AJ-JI/AAAAAAABWJk/9UJWWhu5BYcEYKpl-fJr8u2FdPJIfOxHACNcBGAsYHQ/s1600/medical_oushin_car_man.png", size:"220x220")
          .itembody
            .itembody__name
              ジーンズ
            .itembody__under
              .price
                100円
              .good
                = fa_icon 'heart-o'
                ８
        %section.item2
          %a
            =image_tag("https://1.bp.blogspot.com/-8-Wxkp3eMh8/Xdttj6AJ-JI/AAAAAAABWJk/9UJWWhu5BYcEYKpl-fJr8u2FdPJIfOxHACNcBGAsYHQ/s1600/medical_oushin_car_man.png", size:"220x220")
          .itembody
            .itembody__name
              パーカー
            .itembody__under
              .price
                100円
              .good
                = fa_icon 'heart-o'
                ８
        %section.item3
          %a
            =image_tag("https://1.bp.blogspot.com/-8-Wxkp3eMh8/Xdttj6AJ-JI/AAAAAAABWJk/9UJWWhu5BYcEYKpl-fJr8u2FdPJIfOxHACNcBGAsYHQ/s1600/medical_oushin_car_man.png", size:"220x220")
          .itembody
            .itembody__name
              ダウンジャケット
            .itembody__under
              .price
                100円
              .good
                = fa_icon 'heart-o'
                ８
= render './shared/sub-footer'
