= form_with(model: @item,url: sell_path, local: true)do |f|
  .formItem-name
    = f.label :商品名
    = f.text_field :name
  .formItem-money
    = f.label :価格
    = f.number_field :money
    #image-box
      = f.fields_for :images, @item&.images do |i|
        .js-file_group{data: {id: "#{i.index}"}}
          .js-file
            = i.file_field :image_url
          %span.js-remove
            削除
    %h3#category-box2
      %p
        種類
    %h3#category-box
      = f.collection_select :category_id, Category.where(ancestry: "1"), :id, :name
    %h3#category-box3 
      -# - hoge = 2
      -# = f.collection_select :category_id, Category.where(ancestry: "1/#{hoge}"), :id, :name
    %h3#category-box-size
      %p
        サイズ
    = f.collection_select :size_id, Size.all, :id, :name
    %h3#item-condition-box
      %p
        商品の状態
    = f.collection_select :item_condition_id, ItemCondition.all, :id, :name
    %h3#itemCost
      %p
        配送料の負担
    = f.collection_select :shipping_fee_id, ShippingFee.all, :id, :name
    %h3#itemCost
      %p
        配送の方法
    = f.collection_select :shipping_method_id, ShippingMethod.all, :id, :name
    %h3#sellShipping
      %p
        発送元の地域
    = f.collection_select :prefecture_address_id, PrefectureAddress.all, :id, :name
    %h3#sellDate
      %p
        発送までの日数
    = f.collection_select :ship_date_id, ShipDate.all, :id, :name
  =f.submit
