
  #image-box
    = f.fields_for :images, @item.images do |i|
      .js-file_group{data: {id: "#{i.index}"}}
        .js-file
          = i.file_field :image_url
        %span.js-remove
          削除

    .label-box__inner#image-box
      %label
        = f.file_field(:image, class: 'input-default')
        %p.boxFileSelect
          = fa_icon 'camera'
          %br
          ドラッグアンドドロップ
          %br
          またはクリックしてファイルをアップロード
