= render './shared/simple-header'
= form_with(model: @item, url: sell_item_edit_path, local: true, class: 'sell-wrapper') do |f|
  .sell-wrapper__Title
    商品の情報を入力
  .sellHeading
    %h4.sellImage__title
      出品画像
      = render 'mustLabel'
    %p.subscription
      最大10枚までアップロードできます
    .label-box__inner#image-box
      %label
        = f.fields_for :images, @item&.images do |i|
          .js-file_group{data: {id: "#{i.index}"}, class: 'input-default'}
            .js-file.input-default
              = i.file_field :image_url
        %p.boxFileSelect
          = fa_icon 'camera'
          %br
          ドラッグアンドドロップ
          %br
          またはクリックしてファイルをアップロード

  %h4.sellHeading
    商品名
    = render 'mustLabel'
    .sellTitle
      = f.text_field(:name, placeholder: '40文字まで')
  %h4.sellDescription
    商品の説明
    = render 'mustLabel'
    = f.text_area(:description, rows: 7, id: 'js-count', placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n \n 例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。")
    .textCount
      0/1500

  .sellHeading
    .sellDetail
      商品の詳細
    %h4.sellCategory
      カテゴリー
      = render 'mustLabel'
    = f.collection_select :category_id, @mainCategory, :id, :name
    %h3#sizeCategory
      %p
        サイズ(任意)
    = f.collection_select :size_id, Size.all, :id, :name
    %h4.sellBland
      %p
        ブランド(任意)
    = f.text_field :brand_name, placeholder: '例) シャネル'

    %h4.sellState
      商品の状態
      = render 'mustLabel'
    = f.collection_select :item_condition_id, ItemCondition.all, :id, :name
  .sellHeading
    .sellDetail
      発送について
    %h4.sellCost
      配送料の負担
      = render 'mustLabel'
    = f.collection_select :shipping_fee_id, ShippingFee.all, :id, :name
    %h3#deliverMethod
      %p
        配送の方法
        = render 'mustLabel'
    = f.collection_select :shipping_method_id, ShippingMethod.all, :id, :name
    %h4.sellShip
      発送元の地域
      = render 'mustLabel'
    = f.collection_select :prefecture_address_id, PrefectureAddress.all, :id, :name
    %h4.sellDate
      発送までの日数
      = render 'mustLabel'
    = f.collection_select :ship_date_id, ShipDate.all, :id, :name
  .sellHeading
    .sellDetail
      価格(¥300 〜 9,999,999)
    %h4.sellValue
      .title
        販売価格
        = render 'mustLabel'
      .inputCost
        %p
          ¥
        = f.number_field(:money, in: 300..9999999, placeholder: '0')
    %h4.sellTax
      販売手数料 (10%)
      #sellCommision
    %h4.sellBenefit
      販売利益
      #sellBenefit
    .sellSubmit
      = f.submit '変更する', {onClick: 'submit();', class: 'sellBtn'}
    .othersElement
      = link_to('キャンセル', '/')

= render './shared/simple-footer'