sellPage側のブランチ
#####################################################################################
.sell-wrapper
= form_with(model: @item, url: sell_path, local: true, class: 'sell-wrapper') do |f|
  .sell-wrapper__Title
    商品の情報を入力
  .sellHeading
    %h4.sellImage__title
      出品画像
      = render 'mustLabel'
    %p.subscription
      最大10枚までアップロードできます
    .label-box__inner
      %label
        = f.file_field(:image, class: 'input-default', placeholder: 'ドラッグアンドドロップまたはクリックしてファイルをアップロード')
        %p.boxFileSelect
          = fa_icon 'camera'
          %br
          ドラッグアンドドロップ
          %br
          またはクリックしてファイルをアップロード

  %h4.sellHeading
    商品名
    = render 'mustLabel'
    .sellTitle
      = f.text_field(:title, placeholder: '40文字まで')
  %h4.sellDescription
    商品の説明
    = render 'mustLabel'
    = f.text_area(:description, rows: 7, id: 'js-count', placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n \n 例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。")
    .textCount
      0/1500

  .sellHeading
    .sellDetail
      商品の詳細
    %h4.sellCategory
      カテゴリー
      = render 'mustLabel'
    %h4.sellBland
      ブランド
      = render 'mustLabel'
    %h4.sellState
      商品の状態
      = render 'mustLabel'
  
  .sellHeading
    .sellDetail
      発送について
    %h4.sellCost
      配送料の負担
      = render 'mustLabel'
    %h4.sellShip
      発送元の地域
      = render 'mustLabel'
    %h4.sellDate
      発送までの日数
      = render 'mustLabel'
  .sellHeading
    .sellDetail
      価格(¥300 〜 9,999,999)
    %h4.sellValue
      販売価格
      = render 'mustLabel'
      .fillCost
        = f.number_field(:price, in: 300..9999999)
    %h4.sellTax
      販売手数料 (10%)
    %h4.sellBenefit
      販売利益
  .sellSubmit
    出品する 
    %br
    戻る

  %p
    禁止されている出品、行為を必ずご確認ください。
    またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
    また、出品をもちまして加盟店規約に同意したことになります。

itemsSellBranch側
####################################################
= render 'form'