= render './shared/simple-header'

.p-buy-container
  .p-buy-header
    .p-buy-header__caption
      購入内容の確認
  .p-buy-main
    .p-buy-main__inner
      .p-buy-main__inner--box
        .item-image
          = image_tag @item.images.first.image_url.to_s, alt: '商品写真', height: '80px', width: '60px'
        .item-detail
          .item-detail__name
            = @item.name
          .item-detail__price
            .item-detail__price--ja
              = @item.money
            .item-detail__price--fee
              (税込) 送料込み
    .p-buy-content
      .p-buy-content__form
        %ul.price-table
          %li.price
            .price__display
              支払い金額
            .price__ja
              = @item.money
        %ul.accordion
          %li.accordion__parent
            %input.checkbox{type: "checkbox", id: "checkbox"}
            .checkbox-label
              ポイントを使用（所持ポイント: P0）
        .user-info
          .content-inner
            - if @card.present?
              %label 登録クレジットカード情報
              %br
              = "**** **** **** " + @default_card_information.last4
              %br
              = @exp_month + " / " + @exp_year
              = form_tag(delete_card_index_path, method: :delete, id: 'charge-form',  name: "inputForm") do
                %input{ type: "hidden", name: "card_id", value: "" }
                %button 削除する
            - else
              .btn
                = fa_icon 'credit-card'
                = link_to 'クレジットカードを追加する', mypage_card_create_path
        .user-info
          .content-inner
            .clearfix 配送先
            = link_to mypage_identification_path, class: "user-info-fix" do
              変更する
            .user-text
              〒
              = @personal.post_number
              %br
              = @address&.name
              = @personal.municipality_address
              = @personal.street_address
              = @personal.building_name_adress
              %br
              = @personal.first_name + ' ' + @personal.last_name
          .buy-btn
            = button_to '購入する', sell_item_buy_path(@item.id), {class: 'sellBtn'}

= render './shared/simple-footer'